
<div class="col-12 mt-5 md:col-6 md:col-offset-3 md:mt-8">
  <h1 class="title">Sobre mí</h1>
  <div class="profile-paragraph">
    <br>
    <p>
      Soy un profesional en ingeniería multimedia con enfoque en desarrollo de software especializado en el desarrollo
      Frontend. Cuento con una amplia experiencia en proyectos empresariales, donde he trabajado con framework comos Angular,
      Jquery, y .Net.
      <br>
      <br>
      Además, poseo sólidos conocimientos en ReactJS y NodeJS. He trabajado con el marco de trabajo SCRUM, lo que me ha
      permitido colaborar de manera efectiva en equipos multidisciplinarios y entregar proyectos de alta calidad en plazos
      ajustados. Además, estoy familiarizado con la metodología DevOps, lo que me ha permitido automatizar procesos y mejorar la
      eficiencia en el desarrollo y despliegue de aplicaciones. Soy apasionado por estar al día con las últimas tendencias y avances
      en tecnología, lo que me permite mantenerme actualizado y adoptar las mejores prácticas en mi trabajo. Tengo un enfoque orientado a
      resultados y  la capacidad de resolver problemas de manera efectiva.
    </p>

  </div>
</div>








